section .cart{
    position: relative;
    border: 1px solid #ccc;
}
.cantidad{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.cantidad span{
    color: crimson;
    padding: 0 20px;
}

.cantidad .count{
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: turquoise;
    color: slategray;
    font-weight: bold;
    cursor: pointer;
}

.eliminar{
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}

.total{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total a{
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}

.total h3{
    margin-right: 50px;
    color: crimson;
}


.details {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin: 50px 0;
}